<div class="card shadow-sm mb-2 border border-warning border-3">
    <img [src]="getPersonajeImage()" alt="Darth Vader">
</div>
<div class="bg-dark text-warning border border-warning">
    <span class="d-flex mt-3 fw-bold" style="justify-content: center; font-size: x-large;">{{personaje.name}}</span><br>
    <button type="button" (click)="verDetalles()"
        class="btn btn-warning mt-2 mb-2 d-flex align-items-center mx-auto" data-bs-toggle="modal"
        style="justify-content: center;">
        Mas información
    </button>
</div>