<div class="container">
  <div class="row col-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/pokemon" class="nav-link" href="#">Pokemons</a>
        </li>
        <li class="nav-item">
          <a routerLink="/berries" class="nav-link" href="#">Bayas</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>

  <div class="row col-12">
    <router-outlet></router-outlet>
  </div>
</div>
