<div class="row">
  <div class="card" style="width: 18rem;">
    <div class="col-6">
      <h5 class="card-title">Tesla Model X</h5>
      <h6 class="card-subtitle mb-2 text-muted">Automático / Manual</h6>
    </div>
    <div class="col-6">
      <img src="https://static-assets.tesla.com/configurator/compositor?&bkba_opt=1&view=FRONT34&size=1400&model=mx&options=$MDLX,$MTX14,$PPSW,$WX00,$APBS,$CC02,$SC04,$CPF0,$IBC00,$ST0Y,$TW01&crop=1400,850,300,130&" alt="">
    </div>
      
  </div>
</div>
  