<div class="container text-center">
    <div class="casillas">
        <div class="casilla" numCasilla="0"></div>
        <div class="casilla" numCasilla="1"></div>
        <div class="casilla" numCasilla="2"></div>
        <div class="casilla" numCasilla="3"></div>
        <div class="casilla" numCasilla="4"></div>
        <div class="casilla" numCasilla="5"></div>
        <div class="casilla" numCasilla="6"></div>
        <div class="casilla" numCasilla="7"></div>
        <div class="casilla" numCasilla="8"></div>
    </div>
    <button id="ResetButton"> RESET </button>
</div>