<div class="MovieDetail">
    <div class="container mt-5">
        <div class="card border border-3 border-dark ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
						<img class="w-50" [src]="getMovieImage()">
					</div>
                    <div class="col-md-6 mt-5">
                        <h3 class="movie-title fw-bold">{{movieDetail.title}}</h3>
                        <div class="section mt-3">
                            <h4>Overview</h4>
                            <p>{{movieDetail.overview}}</p>
                        </div>
                        <div class="section">
                            <h4>Release Date:</h4>
                            <p>{{movieDetail.release_date}}</p>
                        </div>
                        <div class="section">
                            <h4>Popularity:</h4>
                            <p>{{movieDetail.popularity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>